@import "tailwindcss";

@theme {
  --color-dark: #0F172A;
  --color-primary: #3B82F6;
  --color-risk-critical: #EF4444;
  --color-risk-high: #F97316;
  --color-risk-medium: #EAB308;
  --color-risk-low: #22C55E;
}

body {
  @apply bg-dark text-slate-200 antialiased;
}
